.cart-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 0 auto;
  }
  
  .cart-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .cart-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-container li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .cart-container li h3 {
    margin: 0;
    font-size: 18px;
    color: #555;
    flex: 1;
  }
  
  .cart-container li img {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .cart-container li .details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  
  .cart-container li p {
    margin: 5px 0;
    color: #777;
  }
  
  .cart-container li .price {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  
  .cart-container p {
    font-size: 16px;
    color: #777;
  }
  
  .cart-container .remove-button {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
  }
  
  .cart-container .clear-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-align: center;
  }